{% extends 'home/home.html'%}

{% block content %}
<section id="hotmovie" style="margin-top:76px">
    <div class="container">
        <div class="row wow fadeInRight" data-wow-delay="0.6s">
            <div class="row">
                <iframe class="wow fadeIn" width="100%" height="375px" frameborder=0 scrolling=no src="{{url_for('home.animation')}}"></iframe>
            </div>
        </div>
    </div>
</section>
<!--热门电影-->
<!--电影列表-->
<section id="movielist">
    <div class="container">
        <div class="row wow fadeIn" data-wow-delay="0.6s">
            <div class="col-md-12 table-responsive">
                <table class="table text-left table-bordered" id="movietags">
                    <tr>
                        <td style="width:10%;">电影标签</td>
                        <td style="width:90%;">
                            {% for d in tag %}
                            <a href="{{url_for('home.index',page=1)}}?tid={{d.id}}&star={{p['star']}}&time={{p['time']}}&pm={{p['play_num']}}&cm={{p['comment_num']}}"
                               class="label label-info"><span class="glyphicon glyphicon-tag"></span>&nbsp;{{d.name}}</a>
                            &nbsp;
                            {% endfor %}
                    </tr>
                    <tr>
                        <td>电影星级</td>
                        <td>
                            {% for d in range(1,6) %}
                            <a href="{{url_for('home.index',page=1)}}?tid={{p['tag_id']}}&star={{d}}&time={{p['time']}}&pm={{p['play_num']}}&cm={{p['comment_num']}}" class="label label-warning">
                                <span class="glyphicon glyphicon-star"></span>&nbsp;{{d}}星</a>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>上映时间</td>
                        <td>
                            <a class="label label-default" href="{{url_for('home.index',page=1)}}?tid={{p['tag_id']}}&star={{p['star']}}&time=0&pm={{p['play_num']}}&cm={{p['comment_num']}}">
                                <span class="glyphicon glyphicon-time"></span>&nbsp;最近</span></a>
                            &nbsp&nbsp;
                            <a class="label label-default" href="{{url_for('home.index',page=1)}}?tid={{p['tag_id']}}&star={{p['star']}}&time=1&pm={{p['play_num']}}&cm={{p['comment_num']}}">
                                <span class="glyphicon glyphicon-time"></span>&nbsp;更早</span></a>
                        </td>
                    </tr>
                    <tr>
                        <td>播放数量</td>
                        <td>
                            <a class="label label-success" href="{{url_for('home.index',page=1)}}?tid={{p['tag_id']}}&star={{p['star']}}&time={{p['time']}}&pm=0&cm={{p['comment_num']}}">
                                <span class="glyphicon glyphicon-arrow-down"></span>&nbsp;从高到底</span></a>
                            &nbsp;
                            <a class="label label-danger" href="{{url_for('home.index',page=1)}}?tid={{p['tag_id']}}&star={{p['star']}}&time={{p['time']}}&pm=1&cm={{p['comment_num']}}">
                                <span class="glyphicon glyphicon-arrow-up"></span>&nbsp;从低到高</span></a>
                        </td>
                    </tr>
                    <tr>
                        <td>评论数量</td>
                        <td>
                            <a class="label label-success" href="{{url_for('home.index',page=1)}}?tid={{p['tag_id']}}&star={{p['star']}}&time={{p['time']}}&pm={{p['play_num']}}&cm=0">
                                <span class="glyphicon glyphicon-arrow-down"></span>&nbsp;从高到底</span></a>
                            &nbsp;
                            <a class="label label-danger" href="{{url_for('home.index',page=1)}}?tid={{p['tag_id']}}&star={{p['star']}}&time={{p['time']}}&pm={{p['play_num']}}&cm=1">
                                <span class="glyphicon glyphicon-arrow-up"></span>&nbsp;从低到高</span></a>
                        </td>
                    </tr>
                </table>
            </div>
            {% for d in page_data.items %}
            <div class="col-md-3">
                <div class="movielist text-center">
                    <!--<img data-original="holder.js/262x166"
                             class="img-responsive lazy center-block" alt="">-->
                    <img src="{{url_for('static',filename='upload/')+d.logo}}" class="img-responsive center-block" alt="" width="262px" height="166px">
                    <div class="text-left" style="margin-left:auto;margin-right:auto;width:210px;">
                        <span style="color:#999;font-style: italic;">{{d.title}}</span><br>
                        <div>
                            {% if d.star == 1 %}
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            {% for i in range(4) %}
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                            {% endfor %}
                            {% elif d.star == 2 %}
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            {% for i in range(3) %}
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                            {% endfor %}
                            {% elif d.star == 3 %}
                            {% for i in range(3) %}
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            {% endfor %}
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                            {% elif d.star == 4 %}
                            {% for i in range(4) %}
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            {% endfor %}
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                            {% else %}
                            {% for i in range(5) %}
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <a href="{{url_for('home.play',id=d.id,page=1)}}" class="btn btn-primary" target="_blank" role="button"><span class="glyphicon glyphicon-play"></span>&nbsp;播放</a>
                </div>
            </div>
            {% endfor %}


            <div class="col-md-12">
                <nav aria-label="Page navigation">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="{{url_for('home.index',page=1)}}">首页</a></li>
                        {% if page_data.has_prev %}
                            <li><a href="{{url_for('home.index',page=page_data.prev_num)}}">上一页</a></li>
                        {% endif %}
                        {% for i in page_data.iter_pages() %}
                            {% if i == page_data.page %}
                            <li class="active"><a href="{{url_for('home.index',page=i)}}">{{ i }}</a></li>
                            {% else %}
                            <li><a href="{{url_for('home.index',page=i)}}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if page_data.has_next %}
                            <li><a href="{{url_for('home.index',page=page_data.next_num)}}">下一页</a></li>
                        {% endif %}
                        <li><a href="{{url_for('home.index',page=page_data.pages)}}">尾页</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
{% endblock %}